# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
.venv/
env/
ENV/

# Django stuff
*.sqlite3
*.log
media/
staticfiles/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
docker-compose.override.yml
